<!--<h1>this is Home page</h1>-->

<div class="center jumbotron">
  <h1>San-Blog</h1>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now</a></p>-->
  <%= link_to "Sign up now", "#",  class: "btn btn-primary btn-danger btn-xlarge" %>
</div>

<%= link_to "San-Blog", articles_path  %> |
<%= link_to 'about', about_path %>